<a href="https://colab.research.google.com/github/ikeavin/student-exam-performance/blob/main/PredictStudentPerformance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import neccessary libraries and load the dataset.

In [44]:
from scipy.stats import zscore
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping
from sklearn import metrics
import pandas as pd
import numpy as np
import pickle
import requests
import os
import io

df = pd.read_csv("https://raw.githubusercontent.com/ikeavin/student-exam-performance/main/StudentsPerformance.csv")
display(df)

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

Convert gender, race/ethnicity, parental level of education, lunch, and test preparation course to dummy variables.

In [45]:
df = pd.get_dummies(df, prefix=['gender','race/ethnicity','parental level of education', 'lunch', 'test preparation course'])
display(df)

     math score  ...  test preparation course_none
0            72  ...                             1
1            69  ...                             0
2            90  ...                             1
3            47  ...                             1
4            76  ...                             1
..          ...  ...                           ...
995          88  ...                             0
996          62  ...                             1
997          59  ...                             0
998          68  ...                             0
999          77  ...                             1

[1000 rows x 20 columns]

Split our dataframe into 4 numpy arrays. One contains all our input values(x), one has our math scores(y_math), one has our writing scores(y_writing), and the final one has our reading scores(y_reading).

In [46]:
# Remove the index column from our dataframe
df.reset_index(drop=True, inplace=True)

# Separate the input values from the output values by dropping output columns
# and creating a numpy array consisting of the remaining columns' values  
x_columns = df.columns.drop('math score').drop('writing score').drop('reading score')
x = df[x_columns].values

# Prepare our 3 output arrays by converting the respective columns to numpy arrays
y_math = df['math score'].values
y_writing = df['writing score'].values
y_reading = df['reading score'].values

Create our first model, which will be used to predict the math scores.

In [47]:
#Split our dataset into test and train sets
x_math_train, x_math_test, y_math_train, y_math_test = train_test_split(
    x, y_math, test_size = .25, random_state = 14)

#Create the neural network
math_model = Sequential()
math_model.add(Dense(25, input_dim = x_math_train.shape[1], activation = 'relu'))
math_model.add(Dense(10, activation='relu'))
math_model.add(Dense(1))
math_model.compile(loss = 'mean_squared_error', optimizer = 'adam')
math_monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3,
                             verbose=1, mode='auto', patience=5, restore_best_weights=True)
math_model.fit(x_math_train, y_math_train, validation_data=(x_math_test,y_math_test),
               callbacks=[math_monitor],verbose = 2, epochs = 1000)

Epoch 1/1000
24/24 - 1s - loss: 4540.2275 - val_loss: 4713.9004
Epoch 2/1000
24/24 - 0s - loss: 4483.4429 - val_loss: 4639.9639
Epoch 3/1000
24/24 - 0s - loss: 4392.6831 - val_loss: 4519.6782
Epoch 4/1000
24/24 - 0s - loss: 4241.5107 - val_loss: 4317.9346
Epoch 5/1000
24/24 - 0s - loss: 3993.7200 - val_loss: 3997.0007
Epoch 6/1000
24/24 - 0s - loss: 3616.5723 - val_loss: 3528.1379
Epoch 7/1000
24/24 - 0s - loss: 3095.7527 - val_loss: 2908.5737
Epoch 8/1000
24/24 - 0s - loss: 2435.7542 - val_loss: 2180.1104
Epoch 9/1000
24/24 - 0s - loss: 1711.4644 - val_loss: 1425.9418
Epoch 10/1000
24/24 - 0s - loss: 1041.2036 - val_loss: 809.4868
Epoch 11/1000
24/24 - 0s - loss: 558.6865 - val_loss: 425.0369
Epoch 12/1000
24/24 - 0s - loss: 305.0086 - val_loss: 259.8100
Epoch 13/1000
24/24 - 0s - loss: 224.2572 - val_loss: 213.9010
Epoch 14/1000
24/24 - 0s - loss: 208.5074 - val_loss: 201.8380
Epoch 15/1000
24/24 - 0s - loss: 202.2252 - val_loss: 196.6742
Epoch 16/1000
24/24 - 0s - loss: 197.0403 - val_loss: 192.0041
Epoch 17/1000
24/24 - 0s - loss: 192.7895 - val_loss: 188.6815
Epoch 18/1000
24/24 - 0s - loss: 188.8468 - val_loss: 184.6840
Epoch 19/1000
24/24 - 0s - loss: 185.9594 - val_loss: 182.7400
Epoch 20/1000
24/24 - 0s - loss: 183.3542 - val_loss: 179.8263
Epoch 21/1000
24/24 - 0s - loss: 180.9908 - val_loss: 178.7986
Epoch 22/1000
24/24 - 0s - loss: 179.3626 - val_loss: 177.2960
Epoch 23/1000
24/24 - 0s - loss: 178.0931 - val_loss: 176.5858
Epoch 24/1000
24/24 - 0s - loss: 177.0075 - val_loss: 175.9584
Epoch 25/1000
24/24 - 0s - loss: 175.7978 - val_loss: 174.2403
Epoch 26/1000
24/24 - 0s - loss: 175.3076 - val_loss: 174.1428
Epoch 27/1000
24/24 - 0s - loss: 174.5377 - val_loss: 173.8630
Epoch 28/1000
24/24 - 0s - loss: 174.0513 - val_loss: 173.1860
Epoch 29/1000
24/24 - 0s - loss: 174.3281 - val_loss: 172.3896
Epoch 30/1000
24/24 - 0s - loss: 173.4315 - val_loss: 174.1345
Epoch 31/1000
24/24 - 0s - loss: 173.1984 - val_loss: 172.2946
Epoch 32/1000
24/24 - 0s - loss: 172.9465 - val_loss: 173.1777
Epoch 33/1000
24/24 - 0s - loss: 173.3829 - val_loss: 173.4474
Epoch 34/1000
24/24 - 0s - loss: 172.9947 - val_loss: 172.0488
Epoch 35/1000
24/24 - 0s - loss: 172.5998 - val_loss: 173.0958
Epoch 36/1000
24/24 - 0s - loss: 172.6021 - val_loss: 172.4973
Epoch 37/1000
24/24 - 0s - loss: 172.4154 - val_loss: 172.4037
Epoch 38/1000
24/24 - 0s - loss: 172.4453 - val_loss: 171.4719
Epoch 39/1000
24/24 - 0s - loss: 172.3629 - val_loss: 172.5493
Epoch 40/1000
24/24 - 0s - loss: 172.4808 - val_loss: 172.3027
Epoch 41/1000
24/24 - 0s - loss: 172.2800 - val_loss: 172.1594
Epoch 42/1000
24/24 - 0s - loss: 172.2769 - val_loss: 172.1543
Epoch 43/1000
24/24 - 0s - loss: 172.2974 - val_loss: 172.4167
Restoring model weights from the end of the best epoch.
Epoch 00043: early stopping

Create our second model, which will be used to predict reading scores.

In [48]:
#Split our dataset into test and train sets
x_reading_train, x_reading_test, y_reading_train, y_reading_test = train_test_split(
    x, y_reading, test_size = .25, random_state = 14)

#Create the neural network
reading_model = Sequential()
reading_model.add(Dense(25, input_dim = x_reading_train.shape[1] ,activation='relu'))
reading_model.add(Dense(10, activation='relu'))
reading_model.add(Dense(1))
reading_model.compile(loss = 'mean_squared_error', optimizer = 'adam')
reading_monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3,
                                verbose=1, mode='auto', patience=5, restore_best_weights=True)
reading_model.fit(x_reading_train, y_reading_train, validation_data=(x_reading_test, y_reading_test),
                  callbacks=[reading_monitor], verbose = 2, epochs = 1000)

Epoch 1/1000
24/24 - 1s - loss: 4887.7153 - val_loss: 5002.0698
Epoch 2/1000
24/24 - 0s - loss: 4790.6758 - val_loss: 4865.5708
Epoch 3/1000
24/24 - 0s - loss: 4609.9609 - val_loss: 4612.6597
Epoch 4/1000
24/24 - 0s - loss: 4275.9556 - val_loss: 4146.8604
Epoch 5/1000
24/24 - 0s - loss: 3701.3506 - val_loss: 3425.1077
Epoch 6/1000
24/24 - 0s - loss: 2897.1270 - val_loss: 2512.4280
Epoch 7/1000
24/24 - 0s - loss: 1968.5365 - val_loss: 1551.8324
Epoch 8/1000
24/24 - 0s - loss: 1104.7186 - val_loss: 779.2203
Epoch 9/1000
24/24 - 0s - loss: 522.2879 - val_loss: 359.1942
Epoch 10/1000
24/24 - 0s - loss: 271.3732 - val_loss: 232.9651
Epoch 11/1000
24/24 - 0s - loss: 215.6127 - val_loss: 209.8654
Epoch 12/1000
24/24 - 0s - loss: 205.2982 - val_loss: 203.0139
Epoch 13/1000
24/24 - 0s - loss: 199.8506 - val_loss: 197.0660
Epoch 14/1000
24/24 - 0s - loss: 194.8874 - val_loss: 192.4719
Epoch 15/1000
24/24 - 0s - loss: 190.6272 - val_loss: 188.8624
Epoch 16/1000
24/24 - 0s - loss: 186.5034 - val_loss: 184.7021
Epoch 17/1000
24/24 - 0s - loss: 183.2990 - val_loss: 181.6634
Epoch 18/1000
24/24 - 0s - loss: 180.1958 - val_loss: 178.8436
Epoch 19/1000
24/24 - 0s - loss: 177.5218 - val_loss: 177.1199
Epoch 20/1000
24/24 - 0s - loss: 175.3656 - val_loss: 175.0103
Epoch 21/1000
24/24 - 0s - loss: 173.6668 - val_loss: 173.1519
Epoch 22/1000
24/24 - 0s - loss: 171.9331 - val_loss: 171.4260
Epoch 23/1000
24/24 - 0s - loss: 170.8352 - val_loss: 170.3643
Epoch 24/1000
24/24 - 0s - loss: 169.6279 - val_loss: 170.1133
Epoch 25/1000
24/24 - 0s - loss: 168.9250 - val_loss: 168.5820
Epoch 26/1000
24/24 - 0s - loss: 167.9691 - val_loss: 168.9916
Epoch 27/1000
24/24 - 0s - loss: 167.3269 - val_loss: 167.9259
Epoch 28/1000
24/24 - 0s - loss: 166.8704 - val_loss: 167.5019
Epoch 29/1000
24/24 - 0s - loss: 166.5510 - val_loss: 167.2899
Epoch 30/1000
24/24 - 0s - loss: 166.1610 - val_loss: 166.8455
Epoch 31/1000
24/24 - 0s - loss: 165.8278 - val_loss: 167.1858
Epoch 32/1000
24/24 - 0s - loss: 165.6348 - val_loss: 167.2689
Epoch 33/1000
24/24 - 0s - loss: 165.4780 - val_loss: 166.6117
Epoch 34/1000
24/24 - 0s - loss: 165.3597 - val_loss: 166.6178
Epoch 35/1000
24/24 - 0s - loss: 165.3998 - val_loss: 166.9023
Epoch 36/1000
24/24 - 0s - loss: 165.1707 - val_loss: 166.3552
Epoch 37/1000
24/24 - 0s - loss: 165.1786 - val_loss: 165.9783
Epoch 38/1000
24/24 - 0s - loss: 165.3973 - val_loss: 167.0225
Epoch 39/1000
24/24 - 0s - loss: 164.9304 - val_loss: 165.7665
Epoch 40/1000
24/24 - 0s - loss: 165.1244 - val_loss: 166.3906
Epoch 41/1000
24/24 - 0s - loss: 164.7813 - val_loss: 166.1965
Epoch 42/1000
24/24 - 0s - loss: 164.8954 - val_loss: 165.7143
Epoch 43/1000
24/24 - 0s - loss: 164.7665 - val_loss: 166.8159
Epoch 44/1000
24/24 - 0s - loss: 164.7338 - val_loss: 166.5040
Epoch 45/1000
24/24 - 0s - loss: 164.7722 - val_loss: 165.5180
Epoch 46/1000
24/24 - 0s - loss: 164.8480 - val_loss: 166.0358
Epoch 47/1000
24/24 - 0s - loss: 164.8101 - val_loss: 166.1181
Epoch 48/1000
24/24 - 0s - loss: 164.6380 - val_loss: 165.8494
Epoch 49/1000
24/24 - 0s - loss: 164.8555 - val_loss: 166.7597
Epoch 50/1000
24/24 - 0s - loss: 164.6159 - val_loss: 165.8724
Restoring model weights from the end of the best epoch.
Epoch 00050: early stopping

Create our third model, which will be used to predict writing scores.

In [49]:
#Split our dataset into test and train sets
x_writing_train, x_writing_test, y_writing_train, y_writing_test = train_test_split(
    x, y_writing, test_size = .25, random_state = 14)

#Create the neural network
writing_model = Sequential()
writing_model.add(Dense(25, input_dim = x_writing_train.shape[1] ,activation='relu'))
writing_model.add(Dense(10, activation='relu'))
writing_model.add(Dense(1))
writing_model.compile(loss = 'mean_squared_error', optimizer = 'adam')
writing_monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3,
                                verbose=1, mode='auto', patience=5, restore_best_weights=True)
writing_model.fit(x_writing_train, y_writing_train, validation_data=(x_writing_test, y_writing_test),
                  callbacks=[writing_monitor], verbose = 2, epochs = 1000)

Epoch 1/1000
24/24 - 1s - loss: 4788.1743 - val_loss: 4842.1973
Epoch 2/1000
24/24 - 0s - loss: 4691.3242 - val_loss: 4720.8994
Epoch 3/1000
24/24 - 0s - loss: 4529.7896 - val_loss: 4505.3428
Epoch 4/1000
24/24 - 0s - loss: 4251.7529 - val_loss: 4147.7954
Epoch 5/1000
24/24 - 0s - loss: 3814.7571 - val_loss: 3604.6980
Epoch 6/1000
24/24 - 0s - loss: 3187.4373 - val_loss: 2865.1680
Epoch 7/1000
24/24 - 0s - loss: 2390.1331 - val_loss: 1996.6415
Epoch 8/1000
24/24 - 0s - loss: 1539.7065 - val_loss: 1179.5282
Epoch 9/1000
24/24 - 0s - loss: 831.0374 - val_loss: 599.1286
Epoch 10/1000
24/24 - 0s - loss: 412.7406 - val_loss: 322.4455
Epoch 11/1000
24/24 - 0s - loss: 257.4534 - val_loss: 244.3576
Epoch 12/1000
24/24 - 0s - loss: 221.7238 - val_loss: 227.3390
Epoch 13/1000
24/24 - 0s - loss: 211.0547 - val_loss: 218.7177
Epoch 14/1000
24/24 - 0s - loss: 203.5599 - val_loss: 211.3530
Epoch 15/1000
24/24 - 0s - loss: 196.3525 - val_loss: 204.8194
Epoch 16/1000
24/24 - 0s - loss: 190.2027 - val_loss: 198.7652
Epoch 17/1000
24/24 - 0s - loss: 184.7185 - val_loss: 193.8161
Epoch 18/1000
24/24 - 0s - loss: 179.3922 - val_loss: 189.0861
Epoch 19/1000
24/24 - 0s - loss: 175.2137 - val_loss: 184.5341
Epoch 20/1000
24/24 - 0s - loss: 171.3500 - val_loss: 181.7411
Epoch 21/1000
24/24 - 0s - loss: 168.1210 - val_loss: 177.8165
Epoch 22/1000
24/24 - 0s - loss: 165.1108 - val_loss: 175.8340
Epoch 23/1000
24/24 - 0s - loss: 162.6877 - val_loss: 173.6401
Epoch 24/1000
24/24 - 0s - loss: 160.4588 - val_loss: 171.2298
Epoch 25/1000
24/24 - 0s - loss: 158.7964 - val_loss: 169.1730
Epoch 26/1000
24/24 - 0s - loss: 157.1055 - val_loss: 168.6034
Epoch 27/1000
24/24 - 0s - loss: 155.9229 - val_loss: 167.6345
Epoch 28/1000
24/24 - 0s - loss: 154.8533 - val_loss: 166.5770
Epoch 29/1000
24/24 - 0s - loss: 153.7468 - val_loss: 165.3097
Epoch 30/1000
24/24 - 0s - loss: 153.0970 - val_loss: 165.4758
Epoch 31/1000
24/24 - 0s - loss: 152.6964 - val_loss: 163.9216
Epoch 32/1000
24/24 - 0s - loss: 151.8548 - val_loss: 164.1582
Epoch 33/1000
24/24 - 0s - loss: 151.4703 - val_loss: 164.2194
Epoch 34/1000
24/24 - 0s - loss: 151.2435 - val_loss: 163.6628
Epoch 35/1000
24/24 - 0s - loss: 151.0247 - val_loss: 163.3228
Epoch 36/1000
24/24 - 0s - loss: 150.8092 - val_loss: 163.2596
Epoch 37/1000
24/24 - 0s - loss: 150.5006 - val_loss: 163.6446
Epoch 38/1000
24/24 - 0s - loss: 150.5133 - val_loss: 164.0023
Epoch 39/1000
24/24 - 0s - loss: 150.4881 - val_loss: 164.1710
Epoch 40/1000
24/24 - 0s - loss: 150.1629 - val_loss: 163.3092
Epoch 41/1000
24/24 - 0s - loss: 150.1334 - val_loss: 163.2591
Restoring model weights from the end of the best epoch.
Epoch 00041: early stopping

Now we try to predict what grades would be achieved by students from different backgrounds.

In [62]:
#gender_female	gender_male	race/ethnicity_group A	race/ethnicity_group B	race/ethnicity_group C	race/ethnicity_group D	race/ethnicity_group E	parental level of education_associate's degree	parental level of education_bachelor's degree	parental level of education_high school	parental level of education_master's degree	parental level of education_some college	parental level of education_some high school	lunch_free/reduced	lunch_standard	test preparation course_completed	test preparation course_none
student_privliged = np.array([[1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0]])
student_middle = np.array([[1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1]])
student_disadvantaged = np.array([[0,1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1]])

sp_reading = reading_model.predict(student_privliged);
sp_writing = writing_model.predict(student_privliged);
sp_math = math_model.predict(student_privliged);
print("Privileged student scores:")
print(f"Reading: {sp_reading}")
print(f"Writing: {sp_writing}")
print(f"Math: {sp_math}")

sm_reading = reading_model.predict(student_middle);
sm_writing = writing_model.predict(student_middle);
sm_math = math_model.predict(student_middle);
print("Middle class student scores:")
print(f"Reading: {sm_reading}")
print(f"Writing: {sm_writing}")
print(f"Math: {sm_math}")

sd_reading = reading_model.predict(student_disadvantaged);
sd_writing = writing_model.predict(student_disadvantaged);
sd_math = math_model.predict(student_disadvantaged);
print("Disadvantaged student scores:")
print(f"Reading: {sd_reading}")
print(f"Writing: {sd_writing}")
print(f"Math: {sd_math}")

Privileged student scores:
Reading: [[79.571075]]
Writing: [[80.57438]]
Math: [[69.88846]]
Middle class student scores:
Reading: [[70.59622]]
Writing: [[70.73301]]
Math: [[58.9823]]
Disadvantaged student scores:
Reading: [[59.83892]]
Writing: [[56.239124]]
Math: [[64.30093]]